body {
    background-image: linear-gradient(to right,
            rgb(255, 255, 255),
            rgb(108, 102, 102));
}

table {
    border: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    width: 80%;

}

table th {
    border: 1px solid black;
    width: 40%;
    transition: 0.2s;
    cursor: pointer;
}

table th:hover {
    background-color: #000;
    color: #fff;
}

table td {
    border: 1px solid black;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
    padding: 20px;
    width: fit-content;
}

table td:hover {
    background-color: #000;
    color: white;
}

h1 {
    color: red;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}